.whb-top-bar .wd-dropdown {
	margin-top: -15px;
}

.whb-top-bar .wd-dropdown:after {
	height: -5px;
}




@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 10px;
		max-height: 10px;
	}

		.whb-sticked .whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
		
		.whb-general-header-inner {
		height: 83px;
		max-height: 83px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
	
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 56px;
		max-height: 56px;
	}
	
	
	
	}
		
.whb-top-bar {
	background-color: rgba(229, 129, 41, 1);
}

.whb-general-header {
	border-color: rgba(129, 129, 129, 0.2);border-bottom-width: 1px;border-bottom-style: solid;
}
